.grid-column-start-2 {
    grid-column-start: 2;
}

.grid-column-start-3 {
    grid-column-start: 3;
}

.grid-column-start-4 {
    grid-column-start: 4;
}

.grid-column-start-5 {
    grid-column-start: 5;
}

.grid-column-start-6 {
    grid-column-start: 6;
}

.grid-column-start-7 {
    grid-column-start: 7;
}