.submittedappbox {
    display: grid;
    grid-template-rows: auto auto;
    /* grid-gap: 10px; */
    font-family: Montserrat;
    width: 384px;


}

.title {
    font-family: Montserrat;
    font-size: 12px;
    height: 42px;

    border-bottom: 1px solid white;
    background-color: #392898;
    padding: 10px 30px;
    /* padding-bottom: 30px; */
    text-align: left;
    display: flex;
    align-items: center;

    border-radius: 15px 15px 0px 0px;
}

.content {
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    /* grid-gap: 5px; */
    padding-top: 5px;
    background-color: black;

    overflow-y: scroll;
    max-height: 500px;

    border-radius: 0px 0px 15px 15px;
}

.content-item {

    color: white;

    font-family: "Outfit", sans-serif;
    font-size: 13px;
    padding: 5px 30px;
}

.contentdate {
    font-size: 11px;
}

.content-item-titlearea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.content-item-titlearea .statusmessage {
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 0 3px;



}

.content-item-position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentposition {
    font-family: montserrat;
    font-weight: 100;
    font-size: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}