    .box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background: #121212;
        padding: 40px;
        box-sizing: border-box;
        /* border: 1px solid #FBCC97; */
        filter: drop-shadow(0px 0px 1px white);
        font-family: Montserrat;
        font-size: 14px;
        color: #121212;
        background-color: #FAF9F6;
        margin-top: 60px;
        /* border-radius: 20px; */

        height: 510px;
    }

    .box h2,
    h1 {
        margin: 0 0 40px;
        padding: 0;

        color: black;
        text-align: center;
        font-family: Inter;
        font-size: 15px;
    }

    .box .headbold {
        padding-bottom: 10px;
        margin-bottom: 10px;


        font-size: 20px;

    }

    .box .headbold p {

        margin-bottom: 10px;


    }


    .box input {

        padding: 10px 0;
        margin-bottom: 30px;
        width: 100%;
        box-sizing: none;
        outline: none;
        border: none;
        border: 1px solid grey;
        border-bottom: 2px solid #F8F0E3;
        background: whitesmoke;
        color: black;
        font-family: Montserrat;

    }

    .box input[type="button"] {
        /* border-bottom: none; */
        cursor: pointer;
        background: black;

        margin-bottom: 0;
        text-transform: uppercase;
        font-family: Montserrat;
        font-size: 14px;
        border: 1px solid black;
        border-bottom: 1px solid black;
        color: white;

    }

    .box input[type="button"]:hover {

        background: #F8F0E3;
        transition: 0.5s;
        border: 1px solid white;
        color: black;
        filter: drop-shadow(0px 0px 1px white);

    }

    .box form div {
        position: relative;

    }

    .box form div label {
        position: absolute;
        top: 10px;
        left: 0;
        color: black;
        transition: 0.5s;
        pointer-events: none;
        /* padding-left: 10px; */
    }

    .box input:focus~label,
    .box input:valid~label {
        top: -16px;
        left: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: bold;
        opacity: 1;

    }

    .box input:focus,
    .box input:valid {
        /* border-bottom: 2px solid #FBCC97; */
        filter: drop-shadow(0px 0px 2px white);

    }

    .box .profilebox {

        margin-left: 20%;
        margin-right: auto;
    }

    .profilebox .profile {
        width: auto;
        height: 90px;
    }

    .domain {
        display: flex;
        flex-direction: column;
        width: 42%;
        /* height: 40px; */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;





    }

    .domain select {
        padding: 8px 0;
        font-size: 15px;
        /* font-family: 'Courier New', Courier, monospace; */
        border-radius: 10px;
    }

    .domainflex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .error-container {
        height: 35px;
        /* Set the desired fixed height */
        /* overflow: hidden; */
        /* Hide the overflow if the error message is taller than the container */
    }

    .buttons {
        display: flex;
        width: 100px;
        border-radius: none !important;
        text-align: center;
        vertical-align: center;
        justify-content: center;
    }